@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
    font-family:'Poppins',sans-serif;
}

html{
    font-size:62.5%;
    scroll-behavior:smooth;
}

body{
    background:black;
    color:white;
}

header{
    position:fixed;
    width:100%;
    top:0;
    left:0;
    padding:1rem 9%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:black;
    z-index:100;
}

.logo{
    font-size:3rem;
    color:#b74b4b;
    font-weight:700;
}

nav a{
    font-size:1.6rem;
    margin-left:3rem;
    color:white;
    transition:.3s;
}

nav a:hover,
nav a.active{
    color:#b74b4b;
}

section{
    min-height:100vh;
    padding:10rem 9% 5rem;
}

.home{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:8rem;
}

.home-img img{
    width:350px;
    height:350px;
    border-radius:50%;
    object-fit:cover;
    box-shadow:0 0 40px #b74b4b;
}

.home-content h1{
    font-size:5rem;
}

.home-content h3{
    font-size:3rem;
    margin:1rem 0;
}

.home-content p{
    font-size:1.6rem;
    max-width:600px;
}

span{
    color:#b74b4b;
}

.social-icons a{
    display:inline-flex;
    justify-content:center;
    align-items:center;
    width:4rem;
    height:4rem;
    border:2px solid #b74b4b;
    border-radius:50%;
    margin:2rem 1rem 2rem 0;
    color:#b74b4b;
    transition:.3s;
}

.social-icons a:hover{
    background:#b74b4b;
    color:black;
}

.btn{
    padding:1rem 2.5rem;
    border-radius:3rem;
    border:2px solid #b74b4b;
    color:#b74b4b;
    font-size:1.6rem;
    transition:.3s;
}

.btn:hover{
    background:#b74b4b;
    color:black;
}

.buttons{
    display:flex;
    gap:1.5rem;
    margin-top:2rem;
}

.section-title{
    font-size:3rem;
    margin-bottom:3rem;
    color:#b74b4b;
}

/* ================= RESPONSIVE ================= */

@media (max-width: 992px) {

    .home {
        flex-direction: column;
        text-align: center;
        gap: 4rem;
    }

    .home-img img {
        width: 250px;
    }

    .home-content h1 {
        font-size: 3.8rem;
    }

    .home-content h3 {
        font-size: 2.4rem;
    }

    .home-content p {
        font-size: 1.5rem;
        padding: 0 1rem;
    }

    .buttons {
        justify-content: center;
        flex-wrap: wrap;
    }

    .social-icons {
        justify-content: center;
    }

    nav a {
        margin-left: 1.5rem;
        font-size: 1.4rem;
    }
}

@media (max-width: 576px) {

    html {
        font-size: 55%;
    }

    .home-img img {
        width: 200px;
    }

    .home-content h1 {
        font-size: 3rem;
    }

    .home-content h3 {
        font-size: 2rem;
    }

    .btn {
        font-size: 1.4rem;
        padding: 0.8rem 2rem;
    }
}
/* SKILLS SECTION */

#skills {
    background-color: #0f172a;
}

.skills-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    flex-wrap: wrap;
}

.skills-box {
    flex: 1 1 45%;
    background: #111827;
    padding: 3rem;
    border-radius: 1rem;
    border: 2px solid #0ea5e9;
}

.skills-box h3 {
    font-size: 2.4rem;
    margin-bottom: 2rem;
    color: #0ea5e9;
}

.skill {
    margin-bottom: 2rem;
}

.skill-info {
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    margin-bottom: .5rem;
}

.progress-bar {
    width: 100%;
    height: 1rem;
    background: #1f2937;
    border-radius: 5rem;
    overflow: hidden;
}

.progress {
    height: 100%;
    background: #0ea5e9;
    border-radius: 5rem;
    transition: width 1s ease-in-out;
}

/* Individual Skill Widths */

.java { width: 85%; }
.python { width: 80%; }
.html { width: 90%; }
.css { width: 85%; }

.problem { width: 90%; }
.communication { width: 75%; }
.teamwork { width: 85%; }
.time { width: 80%; }

/* Responsive */

@media(max-width: 900px){
    .skills-wrapper{
        flex-direction: column;
    }
}

.card{
    border:2px solid #b74b4b;
    padding:2rem;
    border-radius:1rem;
    margin-bottom:2rem;
}

.cert-list li{
    font-size:1.6rem;
    margin:1rem 0;
}

/* CONTACT SECTION */

#contact {
    background: black;
    text-align: center;
}

.contact-container {
    max-width: 900px;
    margin: auto;
}

#contact form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.input-box {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.input-box input,
#contact textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    background: #111827;
    border: 2px solid #b74b4b;
    border-radius: .8rem;
    color: white;
    outline: none;
}

#contact textarea {
    resize: none;
}

.input-box input::placeholder,
#contact textarea::placeholder {
    color: #94a3b8;
}

#contact .btn {
    width: 200px;
    align-self: center;
    background: #b74b4b;
    border: none;
    color: black;
    font-weight: 600;
    cursor: pointer;
}

#contact .btn:hover {
    background: #b74b4b;
}

/* Responsive */

@media(max-width: 768px){
    .input-box {
        flex-direction: column;
    }
}

/* EDUCATION TIMELINE */

#certifications{
    background: #0f172a;
    position: relative;
}

.timeline1 {
    position: relative;
    max-width: 900px;
    margin: auto;
    padding-left: 4rem;
}

.timeline1::before {
    content: '';
    position: absolute;
    left: 18px;
    top: 0;
    width: 3px;
    height: 100%;
    background: #0ea5e9;
}

.timeline1-item {
    position: relative;
    margin-bottom: 4rem;
}

.timeline1-dot {
    position: absolute;
    left: -30px;
    top: 5px;
    width: 18px;
    height: 18px;
    background: #0ea5e9;
    border-radius: 50%;
}

.timeline1-content {
    background: #111827;
    padding: 2rem;
    border-radius: 1rem;
    border: 2px solid #0ea5e9;
}

.timeline1-content h3 {
    font-size: 2rem;
    margin: .5rem 0;
}

.timeline1-content p {
    font-size: 1.5rem;
    color: #cbd5e1;
}

.year1 {
    font-size: 1.4rem;
    color: #0ea5e9;
    font-weight: 600;
}


#education {
    background: black;
    position: relative;
}

.timeline {
    position: relative;
    max-width: 900px;
    margin: auto;
    padding-left: 4rem;
}

.timeline::before {
    content: '';
    position: absolute;
    left: 18px;
    top: 0;
    width: 3px;
    height: 100%;
    background: #b74b4b;
}

.timeline-item {
    position: relative;
    margin-bottom: 4rem;
}

.timeline-dot {
    position: absolute;
    left: -30px;
    top: 5px;
    width: 18px;
    height: 18px;
    background: #b74b4b;
    border-radius: 50%;
}

.timeline-content {
    background: #111827;
    padding: 2rem;
    border-radius: 1rem;
    border: 2px solid #b74b4b;
}

.timeline-content h3 {
    font-size: 2rem;
    margin: .5rem 0;
}

.timeline-content p {
    font-size: 1.5rem;
    color: #cbd5e1;
}

.year {
    font-size: 1.4rem;
    color: #b74b4b;
    font-weight: 600;
}


#projects {
    background: #0f172a;   /* Dark background */
    padding: 6rem 8%;
}

#projects h2 {
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 5rem;
    color: #fff;
}


.projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}


.project-card {
    background: #9cc7c5;  /* Light teal card */
    padding: 3rem 2rem;
    border-radius: 2rem;
    text-align: center;
    transition: 0.3s ease;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
}

/* Icon */
.project-card i {
    font-size: 4rem;
    color: #0f766e;
    margin-bottom: 1.5rem;
}

/* Title */
.project-card h3 {
    font-size: 2.4rem;
    margin-bottom: 1.5rem;
    color: #000;
}

/* Description */
.project-card p {
    font-size: 1.5rem;
    color: #111;
    line-height: 1.6;
    margin-bottom: 2rem;
}

/* Button */
.project-card .btn {
    display: inline-block;
    padding: 1rem 2.5rem;
    background: #0f766e;
    color: #fff;
    border-radius: 5rem;
    text-decoration: none;
    font-size: 1.4rem;
    transition: 0.3s ease;
}

.project-card .btn:hover {
    background: #115e59;
}


/* Tablet */
@media (max-width: 992px) {
    .projects-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Mobile */
@media (max-width: 600px) {
    .projects-container {
        grid-template-columns: 1fr;
    }

    #projects {
        padding: 4rem 5%;
    }
}




#internship {
    background: #000;   /* Black Background */
    padding: 8rem 9%;
}

#internship .heading {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 5rem;
    color: #fff;
}

#internship .heading span {
    color: #0ea5e9;
}

.internship-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.internship-card {
    background: #111827;
    padding: 3rem 2rem;
    border-radius: 2rem;
    text-align: center;
    border: 2px solid #0ea5e9;
    transition: 0.3s ease;
}

.internship-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 25px #0ea5e9;
}

.internship-card i {
    font-size: 4rem;
    color: #0ea5e9;
    margin-bottom: 2rem;
}

.internship-card h3 {
    font-size: 2.2rem;
    color: #fff;
    margin-bottom: 1rem;
}

.internship-card p {
    font-size: 1.5rem;
    color: #cbd5e1;
    margin-bottom: 2rem;
}

.intern-btn {
    display: inline-block;
    padding: 1rem 2.5rem;
    background: #0ea5e9;
    color: #000;
    border-radius: 5rem;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s ease;
}

.intern-btn:hover {
    background: #0284c7;
    transform: scale(1.05);
}


@media (max-width: 991px) {
    .internship-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .internship-container {
        grid-template-columns: 1fr;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.85);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #111;
    padding: 3rem;
    width: 450px;
    border-radius: 1.5rem;
    border: 2px solid #b74b4b;
    animation: zoomIn 0.4s ease;
}

.modal-content h2 {
    margin-bottom: 1rem;
    color: #b74b4b;
}

.modal-content p {
    font-size: 1.5rem;
    line-height: 1.6;
}

.close-btn {
    float: right;
    font-size: 2.5rem;
    cursor: pointer;
    color: #b74b4b;
}

@keyframes zoomIn {
    from { transform: scale(0.7); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

/* Responsive */
@media(max-width: 768px) {
    .projects-container {
        flex-direction: column;
        align-items: center;
    }

    .modal-content {
        width: 90%;
    }
}

